/* ヘッダー共通スタイル */
.title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    margin-right: 25px;
    white-space: nowrap;
}
.title:hover {
    color: #555;
    font-size: 30.1px;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.math, .japanese, .english {
    color: rgb(0, 0, 0);
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
}
.math:hover, .japanese:hover, .english:hover {
    color: #555;
    font-size: 18.1px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #000000;
    flex-wrap: wrap;
}

/* スマホ画面での調整 */
@media (max-width: 600px) {
    .title {
        font-size: 22px;
    }
    .math, .japanese, .english {
        font-size: 15px;
    }
}